.addContainerList {
  position: absolute;
  display: flex;
  font-size: 17px;
  left: 1413px;
  top: 440px;
  border-color: black;
  border: 6px;
  border-style: solid;
}

.addContainerButton {
  position: absolute;
  display: flex;
  font-size: 17px;
  left: 1550px;
  top: 800px;
}
