.maingrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100%;
  flex: 1;
}

.NaNSlot {
  border-style: solid;
  border-color: black;
  background-color: #ccc;
  position: absolute;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UnusedSlot {
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  position: absolute;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.ContainerSlot {
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  position: absolute;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.ContainerSlot:hover {
  border-style: solid;
  border-color: black;
  background-color: red;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logform {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 730px;
  bottom: 161px;
}

.performAlgorithm {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 620px;
  bottom: 81px;
}

.balance {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 900px;
  bottom: 81px;
}

.balanceButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 500px;
  bottom: 81px;
}

.commentOperator {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 750px;
  bottom: 81px;
}

.showInstructionButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 350px;
  bottom: 81px;
}

.downloadButton {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 250px;
  bottom: 81px;
}

.manifestupload {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 830px;
  bottom: 161px;
}

.instructionsList {
  margin: 20%;
  width: 500px;
  height: 500px;
  background-color: white;
  overflow: scroll;
}

.instructions {
  font-size: x-large;
  padding-bottom: 40px;
}

.logComment {
  position: absolute;
  left: 650px;
  top: 600px;
}
