.NaNSlot {
  border-style: solid;
  border-color: black;
  background-color: #ccc;
  position: absolute;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContainerSlot {
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  position: absolute;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.ContainerSlot:hover {
  border-style: solid;
  border-color: black;
  background-color: red;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  top: 5%;
  left: 20%;
  /* margin-top: -150px;
  margin-left: -150px; */
}

.logform {
  position: relative;
  top: 15%;
  left: 53%;
  /* margin-top: -150px;
  margin-left: -150px;  */
}

.containerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
